@import '../../styles.scss';

.pricing {
    text-align: center;
    padding-bottom: 2%;
}
.pricingColor {
    #pricingLeft, #pricingRight{
        border-radius: 8px;
        margin: 1%;
        padding: 2%;
    }
    li {
        padding: 0;
        margin: 1%;
    }
    ul {
        padding-left: 5%;
    }
}
#pricingLeft {
    background-color: $blue;
    h4, h2, p, li {
        color: $white;
    }
    #pricingLeftText{
        p, h2 {
            display: inline;
        }
    }
    li { 
        list-style-image: url('../../assets/icon-check.svg'); 
    } 
}
#pricingRight {
    background-color: $teal;
    h4, h2, p, li {
        color: $background;
    }
    #pricingRightText{
        p, h2 {
            display: inline;
        }
    }
    li { 
        list-style-image: url('../../assets/icon-check.svg'); 
    }
}