<div class="container pricing">
    <div class="row">
        <div class="col"></div>
        <div class="col-lg-6 col-md-8">
            <h3>Our pricing plans</h3>
            <p>We only make money when our creators make money. Our plans are always affordable, and it’s completely free to get started.</p>
        </div>
        <div class="col"></div>
    </div>
</div>

<div class="container pricingColor">
    <div class="row justify-content-md-center">
        <div class="col-lg-4 col-md-6" id="pricingLeft">
            <img src="../../assets/icon-free.svg" alt="free" class="pricingImg" />
            <h4>Dip your toe</h4>
            <p>Just getting started? No problem at all! Our free plan will take you a long way.</p>
            <div id="pricingLeftText">
                <h2>Free</h2>
                <p></p>
            </div>
            <ul class="list-group">
                <li>Unlimited products</li>
                <li>Basic analytics</li>
                <li>Limited marketplace exposure</li>
                <li>10% fee per transaction</li>
            </ul>
        </div>

        <div class="d-md-block"></div>

        <div class="col-lg-4 col-md-6" id="pricingRight">
            <img src="../../assets/icon-paid.svg" alt="free" class="pricingImg" />
            <h4>Dive right in</h4>
            <p>Ready for the big time? Our paid plan will help you take your business to the next level.</p>
            <div id="pricingRightText">
                <h2>$25.00</h2>
                <p>/month</p>
            </div>
            <ul class="list-group">
                <li>Custom domain</li>
                <li>Advanced analytics and reports</li>
                <li>High marketplace visibility</li>
                <li>5% fee per transaction</li>
            </ul>
        </div>
    </div>
</div>