<div class="container-fluid emailValidator">
    <div class="row justify-content-md-center">
        <div class="col-6 align-self-center">
            <h3>Get notified when we launch</h3>

            <form class="needs-validation" novalidate>
                <div class="form-group">
                    <div class="row justify-content-md-center">
                        <div class="col-5">
                            <input type="email" class="form-control requiredField" id="inputEmail" placeholder="Email address" required>
                            <div class="invalid-feedback">
                                Oops! That doesn’t look like an email address
                            </div>
                        </div>
                        <div class="col-3">
                            <button type="button" class="btn btn-primary" type="submit">Get notified</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
