<div class="container-fluid header">
  <div class="row" id="mobileHeader"></div>
  <div class="row">
    <div class="col" id="imgHeaderLeft"></div>
    <div class="col-6 align-self-center" id="headerText">
      <h1>Get paid for the work you <span id="teal">love</span> to do.</h1>
      <p>The 9-5 grind is so last century. We believe in living life on your own terms. Whether you’re looking to escape the rat race or set up a side hustle, we’ve got you covered.</p>
      <img src="../assets/icon-scroll.svg" alt="scroll" />
    </div>
    <div class="col" id="imgHeaderRight"></div>
  </div>
</div>

<div class="container content">
  <div class="row">
    <div class="col-sm even">
      <div class="imgCont">
        <img src="../assets/illustration-passions.svg" alt="passions" />
      </div>
      <h4>Indulge your passions</h4>
      <p>Your passions shouldn't be just for the weekend. Earn a living doing what you love.</p>
    </div>

    <div class="col-sm odd">
      <div class="imgCont">
        <img src="../assets/illustration-financial-freedom.svg" alt="freedom" />
      </div>
      <h4>Gain financial freedom</h4>
      <p>Start making money work for you. There’s nothing quite like earning while you sleep.</p>
    </div>

    <div class="col-sm even">
      <div class="imgCont">
        <img src="../assets/illustration-lifestyle.svg" alt="lifestyle" />
      </div>
      <h4>Choose your lifestyle</h4>
      <p>Own your daily schedule. Fancy a lie-in? Go for it! Take charge of your week.</p>
    </div>

    <div class="col-sm odd">
      <div class="imgCont">
        <img src="../assets/illustration-work-anywhere.svg" alt="work" />
      </div>
      <h4>Work from anywhere</h4>
      <p>Selling online means not being pinned down. Want to work AND travel? Go for it!</p>
    </div>
  </div>
</div>

<app-pricing-plan></app-pricing-plan>

<app-email-validator></app-email-validator>